/* General Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Page Wrapper */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0f0f0f;
  padding: 20px;
  
}

/* Card */
.login-card-dark {
  background-color: #1a1a1a;
  color: white;
  padding: 40px;
  border-radius: 16px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
  text-align: center;
}

/* Logo */
.login-logo {
  font-size: 2.5rem;
  margin-bottom: 15px;
}



/* Subtitle */
.subtext {
  font-size: 0.85rem;
  color: #aaa;
  margin-bottom: 30px;
}

.link {
  color: white;
  font-weight: 500;
  cursor: pointer;
}

/* Form */
.login-form-dark {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-wrapper {
  display: flex;
  align-items: center;
  background-color: #111;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #333;
  margin-top: 30px;
}

.input-wrapper input {
  flex: 1;
  background: transparent;
  border: none;
  color: white;
  font-size: 1rem;
  padding-left: 10px;
  outline: none;
}

.input-wrapper .icon {
  color: #888;
  font-size: 1.1rem;
}

/* Button */
.primary-button {
  background-color: #007bff;
  border: none;
  padding: 12px;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.primary-button:hover {
  background-color: #005fe0;
}

/* Divider */
.divider {
  margin: 20px 0;
  color: #444;
  font-size: 0.8rem;
}

/* Social Buttons */
.social-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.social-btn {
  flex: 1;
  padding: 12px 0;
  background-color: #222;
  color: #eee;
  font-size: 1.1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.social-btn:hover {
  background-color: #333;
}
